@import "../../styles/mixins.scss";

.navbar {
  &__container {
    padding-block: 1.3rem;
    background-color: #f3ebe8;
    display: flex;
    align-items: center;
    gap: 2rem;
    width: 100%;
    z-index: 9999;
    position: fixed;

    @include respond(phone) {
      padding-block: 1rem;
    }
  }
  &__flex {
    display: flex;
    flex: 1;

    @include respond(tab-port) {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      align-items: center;
      padding-block: 2rem;
      gap: 1rem;
      background-color: #f3ebe8;
      animation: navAnimation 0.5s ease;
    }
  }
  &__links {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    flex: 1;

    @include respond(tab-port) {
      flex-direction: column;
    }
  }
  li {
    font-weight: 500;
    color: #374151;
    cursor: pointer;
    transition: color 0.3s ease;

    &:hover {
      color: #ff7377;
    }
  }
  &__menu {
    display: none;
    cursor: pointer;
    @include respond(tab-port) {
      margin-left: auto;
      display: grid;
      place-content: center;
      transition: all 0.3s ease;
    }

    svg {
      font-size: 3rem;
      padding: 0.7rem;
    }
  }
  .show-nav {
    display: flex;
  }
  .bg-color {
    background-color: #9ed3ba;
    border-radius: 0.5rem;

    svg {
      color: #fff;
    }
  }

  @keyframes navAnimation {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0%);
    }
  }
}
